<!DOCTYPE html>
<html ng-app="gaisberg">
<head>
    <meta charset='utf-8' />
    <title>Todo list: gaisberg</title>
    <link rel='stylesheet' href='styles.css' />
    <meta name='viewport' content='width=device-width' />
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><![endif]-->
</head>
<body>
    <div id='wrapper' ng-controller="todoCtrl">
        <article>
            <header>
                <h2>Windows Azure</h2>
                <h1>Mobile Services</h1>

                <form id='add-item' ng-submit="addTodo()">
                    <button type='submit'>Add</button>
                    <div><input type='text' id='new-item-text' placeholder='Enter new task' ng-model="text" /></div>
                </form>
            </header>

            <ul id='todo-items'>
                <li ng-repeat="todo in todos">
                    <button class="item-delete" ng-click="deleteTodo(todo)">Delete</button>
                    <input type="checkbox" class="item-complete" ng-model="todo.complete" ng-change="completeTodo(todo)">
                    <div>
                        <input class="item-text" ng-model="todo.text" ng-change="updateTodo(todo)">
                    </div>
                </li>
            </ul>
            <p id='summary'><span ng-show="loading">Loading...</span><span ng-show="!loading"><strong>{{todos.length}}</strong> item(s)</span></p>
        </article>

        <footer>
            <a href='http://www.windowsazure.com/en-us/develop/mobile/'>
                Learn more about Windows Azure Mobile Services
            </a>
            <ul id='errorlog'>
                <li ng-repeat="entry in errorlog">{{entry.message}}</li>
            </ul>
        </footer>
    </div>

    <script src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js'></script>
    <script src='//gaisberg.azure-mobile.net/client/MobileServices.Web-1.0.0.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js'></script>
    <!--<script src='page.js'></script>-->
    <script src='app.js'></script>
</body>
</html>